<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/droneDelivery
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			79971616x
		</property>

		<!-- List of XML mapping files -->
		<mapping resource="Drones.hbm.xml" />
		<mapping resource="Coordinates.hbm.xml" />
		<mapping resource="Products.hbm.xml" />
		<mapping resource="StockItem.hbm.xml" />
		<mapping resource="Warehouse.hbm.xml" />

</session-factory>
</hibernate-configuration>